*{
    margin: 0px;
    padding: 0px;}

.navbar{
        /* position: absolute; */
        width: 100%;
        /* height: 65%; */
      
}
.navbar,ul{
    display: flex;
    /* justify-content: center; */
}
.item{
    list-style: none;
    font-size: 1.3rem;
}
.item a{
    display: block;
    padding: 9px;
    margin: 10px;
    text-decoration: none;
    color: white;
    transition-property: background-color;
    transition-duration: 3s;
    border-radius: 5px;
}
.item a:hover{
color: black;
background-color: white;
}
.logo img{
    width: 50px;
    margin: 7px 15px;
}
.navbar::before{
    content: '';
    background-color: black;
    position: absolute;
    height: 17%;
    width: 100%;
    z-index: -2;
    opacity: .4;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    /* margin-top: 13px; */
    height: 400px;
}
#home::before{
    content: '';
    background: url("img/bk2.jpg") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.89;
    height: 100%;
    width: 100%;
}